/* Reset & base styles */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #000;
    background: #fff;
    line-height: 1.4;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: inherit;
}
h1 {
  all: initial;
}

h1 {
  all: unset
}

/* Container */
.container {
    max-width: 80%;
    margin: 0 auto;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
header img {
    width: 14rem;
}
nav {
    display: flex;
    gap: 30px;
    font-weight: 400;
    font-size: 14px;
    
    color: #000;
}
nav a {
    color: #000;
    font-weight: 600;
    
}
nav a:hover{
    color: #5b2fff;
    text-decoration: underline;
}
nav a:active{
    color: black;
    text-decoration: none;
}
nav a.active {
    color: #5b2fff;
    font-weight: 700;
}

/* Hero Section */
.hero {
    padding: 40px 0 20px 0;
    position: relative;
    width: 100%;
}
.hero_block{
    position: absolute;
    top: 1.5rem;
    left: 17%;
    

}
.hero-text {
    font-style: italic;
    font-weight: 500;
    font-size: 6vw;
    white-space: nowrap;
    
}
.hero-subtext {
    font-weight: 400;
    font-size: 1.4vw;
    margin-top: -25px;
}
.hero-image-wrapper {
    flex: 1;
    overflow: hidden;
    border-radius: 20px;
}
.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Info ticker */

.stroke {
    display: flex;
    width: 100vw;
    margin: 0 auto;
    color: #5b2fff;
    overflow: hidden;
}
 
.stroke__item {
    flex-shrink: 0;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
    text-transform: uppercase;
    animation: running-animation 20s linear infinite;
    white-space: nowrap;
}
 
@keyframes running-animation {
    0% {
        transform: translateZ(0);
    }
 
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}
/* About Section */
img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}
.about {
    display: flex;
    gap: 20px;
    padding: 40px 0;
    align-items: center;
    flex-wrap: wrap;
}
.about-text {
    flex: 1 1 380px;
    font-weight: 400;
    font-size: 14px;
    white-space: normal;
    letter-spacing: 0.02em;
    line-height: 1.5;
    width: 100%;
}
.about-text strong {
    font-style: italic;
    font-weight: 700;
    font-size: 4vw;
    text-align:  right;
}
.about-images {
    display: flex;
    
    max-width: 580px;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
.about-images img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    flex-shrink: 0;
}
/* Projects Section */
.projects-wrapper {
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}
.projects-wrapper h2 {
    font-style: italic;
    font-weight: 700;
    font-size: 4vw;
    margin: 0 0 -20px 0;
}
.projects-wrapper .subheader {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
}

.projects-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    margin-bottom: 15px;
}
.projects-main.second{
    grid-template-columns: 2fr 1fr;
}
.progects-container{
    padding: 1rem;
}
.project-item {
    overflow: hidden;
    position: relative;
    height:250px;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    background: #ffffff00;
}
.project-item img {
    height: 250px;
    border-radius: 80px 0 80px 0;
    object-fit: cover;
    width: 100%;
}
.project-caption {
    background: #e6e6e6cc;
    padding: 6px 10px;
    border-radius: 80px 0 80px 0;
    font-size: 14px;
    font-weight: 600;
}
.projects-secondary {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    border-radius:0 80px 0 80px ;
    overflow: hidden;
}
.secondary-item {
    position: relative;
    border-radius: 0 80px 0 80px;
    overflow: hidden;
}
.secondary-item img {
    border-radius: 0 80px 0 80px;
    object-fit: scale-down;
    height: 120px;
    width: 100%;
    background: #f0f0f0;
    padding: 10px 5px 5px 5px;
}
.secondary-caption {
    font-weight: 400;
    font-size: 12px;
    margin-top: 4px;
    white-space: nowrap;
}
.btn-more-projects {
    margin-top: 10px;
    background-color: #5b2fff;
    border: 3px solid #5b2fff;
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    letter-spacing: 0.1em;
    font-size: 14px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
}
.btn-more-projects:hover {
    background: none;
    color: #5b2fff;
}
.btn-more-projects:active {
    background: none;
    color: black;
    border-color: #000;
}

/* Footer */
footer {
    background-color: #5b2fff;
    color: white;
    padding: 40px 20px 30px;
    font-weight: 400;
    font-size: 14px;
}
.footer-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.footer-nav {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: column;
  
}
.footer-nav a {
    color: white;
   
}
.footer-nav a:hover {
    color: #fff;
    text-decoration: underline;
}
.footer-nav a:active {
    color: black;
    text-decoration: none;
}
.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;
   
    font-size: 14px;
}
.contact-item {
    display: flex;
    gap: 30px;
}
.contact-item svg {
    fill: white;
    width: 16px;
    height: 16px;
}
.btn-discuss-project {
    background-color: #fff;
    color: #5b2fff;
    font-weight: 700;
    padding: 12px 30px;
   
    border: 3px solid #ffffff;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.4s;
}
.btn-discuss-project:hover{
    background-color: #5b2fff;
    border-color: black;
    color: black;
}
.btn-discuss-project:active{
    border-color: white;
    color: white;
}
.social-links {
    display: flex;
    gap: 30%;
    font-size: 24px;
    color: white;
    align-items: center;
}
.social-block{
    display: flex;
    flex-direction: column;
   
    gap: 30px;
}
.social-links a img {
    
    width: 25px;
    height: 25px;
}
.footer-bottom {
    text-align: center;
    margin-top: 30px;
  
    font-size: 12px;
    opacity: 0.6;
}